In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.svm import SVR
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 50,40

In [2]:
df1 = pd.read_csv('sensex.csv', parse_dates = ['Date'], index_col = 'Date')
df1 = df1['2017-01-20' : '2019-01-18']

In [3]:
df2 = pd.read_csv('NYSE.csv', parse_dates = ['Date'], index_col = 'Date')
df2 = df2['2017-01-20' : '2019-01-18']

In [4]:
df3 = pd.read_csv('N225.csv', parse_dates=['Date'], index_col='Date')
df3 = df3['2017-01-20' : '2019-01-18']

In [5]:
df1 = df1.drop(['High', 'Open'], axis = 1)

In [6]:
df1 = df1.drop(['Low', 'Volume'], axis = 1)

In [7]:
df1 = df1.drop(['Adj Close'], axis = 1)

In [8]:
df1.head()

                   Close
Date
2017-01-20  27034.500000
2017-01-23  27117.339844
2017-01-24  27375.580078
2017-01-25  27708.140625
2017-01-27  27882.460938

In [9]:
df1['SENSEX'] = df1.Close

In [10]:
df1 = df1.drop(['Close'], axis = 1)

In [11]:
df1['NYSE'] = df2.Close

In [12]:
df1['NIKKIE'] = df3.Close

In [13]:
df = df1
df = df.diff(periods = 1)

In [14]:
df = df['2017-01-20' : ]
df[df==np.inf]=np.nan
#df.fillna(df.mean(), inplace=True)
df.dropna()

                SENSEX        NYSE      NIKKIE
Date
2017-01-23   82.839844  -22.169922 -246.880859
2017-01-24  258.240234   78.660156 -103.039063
2017-01-25  332.560547   89.769532  269.509766
2017-01-27  174.320313  -55.859375  409.900391
2017-01-30  -32.900391  -77.950196  -98.550782
2017-01-31 -193.599609   17.719727 -327.509765
2017-02-01  485.679687  -15.719727  106.740234
2017-02-02   84.968750    8.149414 -233.500000
2017-02-03   13.910156   95.350586    3.619141
2017-02-06  198.759766  -46.629882   58.511719
2017-02-07 -104.119141  -20.730469  -65.931641
2017-02-08  -45.240234    8.419922   96.820312
2017-02-09   39.779297   75.879883  -99.929687
2017-02-10    4.550781   50.040039  471.259766
2017-02-13   17.369141   56.209961   80.220703
2017-02-14  -12.308594   34.950195 -220.169922
2017-02-15 -183.750000   45.520508  199.000000
2017-02-16  145.708984  -10.209961  -90.451172
2017-02-17  167.480469    6.719726 -112.910156
2017-02-22  103.121094  -28.070312   -1.570312
2017-02-23   28.259765    5.970703   -8.408203
2017-02-27  -80.089844    2.199218 -263.990235
2017-02-28  -69.560546  -45.959961   11.519531
2017-03-01  241.169921  148.830079  274.548829
2017-03-02 -144.701171  -85.309571  171.261718
2017-03-03   -7.339844   22.459961  -95.630859
2017-03-06  215.740234  -50.580078  -90.029297
2017-03-07  -48.628906  -41.469726  -34.990234
2017-03-08  -97.621094  -58.110352  -90.121094
2017-03-09   27.191406    9.429687   64.550781
...                ...         ...         ...
2018-11-19  317.718750 -119.370117  140.820312
2018-11-20 -300.367187 -232.250000 -238.041015
2018-11-21 -274.710938   74.679688  -75.580078
2018-11-27  159.062500    6.470704  140.400391
2018-11-28  203.808594  229.559570  224.619140
2018-11-29  453.460937  -28.259766   85.580078
2018-11-30   23.890625   68.179688   88.460938
2018-12-03   46.699219  119.990234  223.699219
2018-12-04 -106.691406 -355.559570 -538.708985
2018-12-07  361.121094 -202.480468  177.060547
2018-12-10 -713.531250  -52.639649 -459.179688
2018-12-11  190.292969  -28.639648  -71.480469
2018-12-12  629.058594   82.639648  454.730469
2018-12-13  150.570312   -7.129883  213.439453
2018-12-14   33.289063 -180.780273 -441.359375
2018-12-17  307.140625 -223.259766  132.050781
2018-12-18   77.007812  -29.959961 -391.431640
2018-12-19  137.250000 -130.320312 -127.529297
2018-12-20  -52.656250 -149.049805 -595.339844
2018-12-21 -689.601562 -185.950195 -226.390625
2018-12-27  157.339844   81.219726  750.558594
2018-12-28  269.437500    5.640625  -62.849610
2019-01-07  155.058593   72.620117  477.009765
2019-01-08  130.769532  110.270508  165.068360
2019-01-09  231.980468   62.189453  223.021484
2019-01-10 -106.410156   60.889648 -263.259766
2019-01-11  -96.660156    8.700196  195.898438
2019-01-16    2.960938   38.930664 -112.539063
2019-01-17   52.789062   86.929687  -40.480469
2019-01-18   12.531250  157.229492  263.800782

[425 rows x 3 columns]

In [15]:
df = df.dropna()
df.asfreq('D', method="pad")

                SENSEX        NYSE      NIKKIE
Date
2017-01-23   82.839844  -22.169922 -246.880859
2017-01-24  258.240234   78.660156 -103.039063
2017-01-25  332.560547   89.769532  269.509766
2017-01-26  332.560547   89.769532  269.509766
2017-01-27  174.320313  -55.859375  409.900391
2017-01-28  174.320313  -55.859375  409.900391
2017-01-29  174.320313  -55.859375  409.900391
2017-01-30  -32.900391  -77.950196  -98.550782
2017-01-31 -193.599609   17.719727 -327.509765
2017-02-01  485.679687  -15.719727  106.740234
2017-02-02   84.968750    8.149414 -233.500000
2017-02-03   13.910156   95.350586    3.619141
2017-02-04   13.910156   95.350586    3.619141
2017-02-05   13.910156   95.350586    3.619141
2017-02-06  198.759766  -46.629882   58.511719
2017-02-07 -104.119141  -20.730469  -65.931641
2017-02-08  -45.240234    8.419922   96.820312
2017-02-09   39.779297   75.879883  -99.929687
2017-02-10    4.550781   50.040039  471.259766
2017-02-11    4.550781   50.040039  471.259766
2017-02-12    4.550781   50.040039  471.259766
2017-02-13   17.369141   56.209961   80.220703
2017-02-14  -12.308594   34.950195 -220.169922
2017-02-15 -183.750000   45.520508  199.000000
2017-02-16  145.708984  -10.209961  -90.451172
2017-02-17  167.480469    6.719726 -112.910156
2017-02-18  167.480469    6.719726 -112.910156
2017-02-19  167.480469    6.719726 -112.910156
2017-02-20  167.480469    6.719726 -112.910156
2017-02-21  167.480469    6.719726 -112.910156
...                ...         ...         ...
2018-12-20  -52.656250 -149.049805 -595.339844
2018-12-21 -689.601562 -185.950195 -226.390625
2018-12-22 -689.601562 -185.950195 -226.390625
2018-12-23 -689.601562 -185.950195 -226.390625
2018-12-24 -689.601562 -185.950195 -226.390625
2018-12-25 -689.601562 -185.950195 -226.390625
2018-12-26 -689.601562 -185.950195 -226.390625
2018-12-27  157.339844   81.219726  750.558594
2018-12-28  269.437500    5.640625  -62.849610
2018-12-29  269.437500    5.640625  -62.849610
2018-12-30  269.437500    5.640625  -62.849610
2018-12-31  269.437500    5.640625  -62.849610
2019-01-01  269.437500    5.640625  -62.849610
2019-01-02  269.437500    5.640625  -62.849610
2019-01-03  269.437500    5.640625  -62.849610
2019-01-04  269.437500    5.640625  -62.849610
2019-01-05  269.437500    5.640625  -62.849610
2019-01-06  269.437500    5.640625  -62.849610
2019-01-07  155.058593   72.620117  477.009765
2019-01-08  130.769532  110.270508  165.068360
2019-01-09  231.980468   62.189453  223.021484
2019-01-10 -106.410156   60.889648 -263.259766
2019-01-11  -96.660156    8.700196  195.898438
2019-01-12  -96.660156    8.700196  195.898438
2019-01-13  -96.660156    8.700196  195.898438
2019-01-14  -96.660156    8.700196  195.898438
2019-01-15  -96.660156    8.700196  195.898438
2019-01-16    2.960938   38.930664 -112.539063
2019-01-17   52.789062   86.929687  -40.480469
2019-01-18   12.531250  157.229492  263.800782

[726 rows x 3 columns]

In [16]:
from statsmodels.tsa.api import VAR, DynamicVAR

In [17]:
model = VAR(df[:'2019-01-09'])

/home/umang/anaconda3/lib/python3.6/site-packages/statsmodels/tsa/base/tsa_model.py:225: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

In [18]:
results = model.fit(maxlags=20, ic='aic')

In [20]:
results.summary()

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Fri, 03, May, 2019
Time:                     00:38:46
--------------------------------------------------------------------
No. of Equations:         3.00000    BIC:                    30.3114
Nobs:                     418.000    HQIC:                   30.1888
Log likelihood:          -8051.05    FPE:                1.19129e+13
AIC:                      30.1086    Det(Omega_mle):     1.13339e+13
--------------------------------------------------------------------
Results for equation SENSEX
============================================================================
               coefficient       std. error           t-stat            prob
----------------------------------------------------------------------------
const            24.227609        11.364970            2.132           0.033
L1.SENSEX         0.042342         0.053335            0.794           0.427
L1.NYSE           0.672723         0.135304            4.972           0.000
L1.NIKKIE        -0.210415         0.064717           -3.251           0.001
L2.SENSEX         0.010168         0.053638            0.190           0.850
L2.NYSE           0.343138         0.153330            2.238           0.025
L2.NIKKIE        -0.022507         0.058553           -0.384           0.701
============================================================================

Results for equation NYSE
============================================================================
               coefficient       std. error           t-stat            prob
----------------------------------------------------------------------------
const            -1.355091         4.303403           -0.315           0.753
L1.SENSEX         0.036018         0.020196            1.783           0.075
L1.NYSE           0.016445         0.051233            0.321           0.748
L1.NIKKIE         0.002492         0.024506            0.102           0.919
L2.SENSEX         0.048825         0.020310            2.404           0.016
L2.NYSE          -0.065962         0.058059           -1.136           0.256
L2.NIKKIE        -0.010923         0.022171           -0.493           0.622
============================================================================

Results for equation NIKKIE
============================================================================
               coefficient       std. error           t-stat            prob
----------------------------------------------------------------------------
const             3.299687         9.462924            0.349           0.727
L1.SENSEX        -0.074249         0.044409           -1.672           0.095
L1.NYSE           1.250726         0.112659           11.102           0.000
L1.NIKKIE        -0.176973         0.053886           -3.284           0.001
L2.SENSEX         0.093256         0.044661            2.088           0.037
L2.NYSE           0.321452         0.127669            2.518           0.012
L2.NIKKIE        -0.084576         0.048753           -1.735           0.083
============================================================================

Correlation matrix of residuals
            SENSEX      NYSE    NIKKIE
SENSEX    1.000000  0.210860  0.375680
NYSE      0.210860  1.000000  0.278399
NIKKIE    0.375680  0.278399  1.000000